*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0b0b0b;
color:white;
}

.container{
max-width:1200px;
margin:auto;
padding:40px 20px;
}

.header{
position:fixed;
width:100%;
background:#111;
}

.nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
display:flex;
align-items:center;
gap:10px;
font-weight:bold;
}

.logo img{
width:40px;
}

nav a{
margin:0 10px;
color:white;
text-decoration:none;
}

.cta{
background:#6c5ce7;
padding:10px 20px;
border-radius:30px;
text-decoration:none;
color:white;
}

.hero{
height:100vh;
display:flex;
align-items:center;
text-align:center;
}

.hero h1{
font-size:60px;
}

.hero span{
color:#6c5ce7;
}

.hero-buttons{
margin-top:30px;
}

.btn-main{
background:#6c5ce7;
padding:15px 30px;
border-radius:30px;
text-decoration:none;
}

.section{
padding:100px 0;
}

.dark{
background:#111;
}

.grid-2{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

.grid-3{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}

.grid-4{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
}

.card{
background:#1a1a1a;
padding:30px;
border-radius:10px;
}

.card i{
font-size:30px;
margin-bottom:10px;
color:#6c5ce7;
}

.project img{
width:100%;
border-radius:10px;
}

.music-card img{
width:100%;
border-radius:10px;
}

.center{
text-align:center;
margin-bottom:40px;
}

.footer{
text-align:center;
}

.social a{
margin:10px;
font-size:20px;
color:white;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
font-size:25px;
padding:15px;
border-radius:50%;
}